/* src/pages/HomePage.css */
.home-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.home-container .home-button {
  font-size: 1.25rem;
  padding: 15px 30px;
  margin-top: 20px;
  width: 250px;  /* 버튼 크기 고정 */
  background-color: #61dafb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.home-container .home-button:hover {
  background-color: #4fa3f7;
}

.home-container .home-button:focus {
  outline: none;
}
