<h1><%= @property.name %> 상세보기</h1>

<p><strong>주소:</strong> <%= @property.address %></p>
<p><strong>가격:</strong> <%= @property.price %></p>

<%= link_to '목록으로 돌아가기', properties_path %> <!-- 목록으로 돌아가기 링크 -->